body {
    margin: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit; 
}

.body_index {
    overflow-x: hidden;
}

nav {
    position: absolute;
    margin: 20px;
    left: 0;
    right: 0;
    padding: 10px 20px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.map-background {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.map-background-img {
    width: 100%;
    height: 100%;
    filter: brightness(70%);
    object-fit: cover;
}

main {
    position: relative;
}

.logo {
    width: 300px;
    height: 125px;
}

/*Create Route Map*/

.map {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 1300px;
    overflow: hidden;
    background-color: gray;
}

/*Login*/

.showcase {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.showcase_content {
    position: relative;
    margin: 15px;
    background: rgb(255, 255, 255, 0.95);
    border-radius: 20px;
    box-shadow: 0 14px 24px rgba(72, 33, 100, 0.8);
    padding: 30px;
    text-align: center;
}

.form {
    padding: 40px;
    margin: 20px;

}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.username,
.email,
.password {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: 3px solid rgb(32, 32, 32);
    box-shadow: 0 5px 10px rgb(72, 33, 100);
    border-radius: 5px;
}

.remember {
    display: flex;
    padding-left: 7px;
    align-items: left;
}

.actions button {
    padding: 15px 30px;
    width: 200px;
    background: rgb(32, 32, 32);
    box-shadow: 0 5px 10px rgb(72, 33, 100);
    color: rgb(213, 213, 213);
    border-radius: 20px;
    border: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    flex: 1;
}

.actions button:hover {
    box-shadow: 0 10px 15px rgb(72, 33, 100);
    background: #D5D5D5;
    color: rgb(32, 32, 32);
}

.actions button:active {
    transform: scale(0.95);
}

#google_icon {
    width: 30px;
}


.ask_signup {
    position: relative;
    margin: 15px;
    background: rgb(255, 255, 255, 0.95);
    border-radius: 20px;
    box-shadow: 0 14px 24px rgba(72, 33, 100, 0.8);
    padding: 30px;
    text-align: center;
}

.ask_login {
    position: relative;
    margin: 15px;
    background: rgb(255, 255, 255, 0.95);
    border-radius: 20px;
    box-shadow: 0 14px 24px rgba(72, 33, 100, 0.8);
    padding: 30px;
    text-align: center;
}

/*Profile*/

.showcase_2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.showcase_content_2 {
    position: relative;
    margin: 15px;
    background: rgb(255, 255, 255, 0.95);
    border-radius: 20px;
    box-shadow: 0 14px 24px rgba(72, 33, 100, 0.8);
    padding: 60px;
    text-align: center;
}

.profile_picture {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
    background-color: rgb(32, 32, 32);
}

.showcase_2 h2 {
    font-size: 40px;
    margin-bottom: 3%;
    text-align: center;
}

.showcase_2 p {
    font-weight: bold;
    margin-bottom: 3%;
    text-align: center;
    margin-top: 30%;
    margin-bottom: 30%;
}

.logout_button {
    padding: 15px 30px;
    background: rgb(32, 32, 32);
    box-shadow: 0 14px 24px rgb(72, 33, 100);
    color: rgb(213, 213, 213);
    border-radius: 20px;
    border: none;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    flex: 1;

}

.logout_button:hover:hover {
    box-shadow: 0 14px 24px rgb(72, 33, 100);
    background: rgb(72, 33, 100);
}

.logout_button:active {
    transform: scale(0.95);
}

/*Estatistica*/

.body_estatisticas {
    background-image: url(img/Lisbon_map.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
    padding-top: 20px;
    min-height: 100vh;
    margin: 0;
}

.chart-column {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin-top: 300px;
    padding: 20px;
    box-sizing: border-box;
}

.chart-container {
    background-color: rgb(199, 199, 199);
    border-radius: 15px;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    margin: 10px 0;
}

canvas {
    width: 100%;
    height: auto;
}

/*Event Page*/

.event-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    width: 80%;
    max-width: 600px;

}

.event-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.event-container h1 {
    font-size: 28px;
    color: #333;
    margin: 20px 0;
}

#qr-codes,
#floor-plan {
    margin: 15px;
}

/*Floor Plan*/

.svg-container {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    height: 600px;
}


.input-section {
    position: absolute;
    top: 40%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    margin: 20px auto;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.input-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-section label {
    display: block;
    margin: 10px 0 5px;
}

.input-section select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#path-output {
    position: absolute;
    top: 80%;
    left: 70%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}


/* Create Event */

#createEventForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background: rgb(255, 255, 255, 0.95);
    border-radius: 20px;
    box-shadow: 0 14px 24px rgba(72, 33, 100, 0.8);
    width: 90%;
    max-width: 500px;
    margin: 50px auto;
    box-sizing: border-box;
}

#createEventForm > * {
    width: 100%;
    box-sizing: border-box;
}

#createEventForm label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

#createEventForm input[type="text"],
#createEventForm input[type="url"],
#createEventForm input[type="number"],
#createEventForm input[type="date"],
#createEventForm input[type="file"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 25px;
    margin-top: 10px;
    border: 2px solid rgb(32, 32, 32);
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

#createEventForm input[type="file"] {
    padding: 10px;
}

#createEventForm button {
    padding: 15px 30px;
    width: 100%;
    max-width: 100%;
    background: rgb(32, 32, 32);
    box-shadow: 0 14px 24px rgb(72, 33, 100);
    color: rgb(213, 213, 213);
    border-radius: 20px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-top: 20px;
}

#createEventForm button:hover {
    background: rgb(72, 33, 100);
    box-shadow: 0 14px 24px rgba(72, 33, 100, 0.8);
}


/*Accept Event*/

.eventsToAccept_showcase {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.eventsToAccept_list {
    display: absolute;
    top: 30%;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.eventsToAccept_box {
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
}

.eventsToAccept_box img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.eventsToAccept_box h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #333;
}

.eventsToAccept_box p {
    margin: 5px 0;
    color: #555;
}

.eventsToAccept_box .btn-group {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.eventsToAccept_box button {
    padding: 15px 30px;
    width: 100%;
    max-width: 100%;
    background: rgb(32, 32, 32);
    box-shadow: 0 14px 24px rgb(72, 33, 100);
    color: rgb(213, 213, 213);
    border-radius: 20px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    margin-top: 20px;
}

.eventsToAccept_box button:hover {
    background: rgb(72, 33, 100);
    box-shadow: 0 14px 24px rgba(72, 33, 100, 0.8);
}

/* Additional Styling for Hints */
.file-hint {
    font-size: 14px;
    color: rgb(72, 33, 100);
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
}


